################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/api/v16/Server/sqlite3
/.vs/slnx.sqlite
/services/bin/Debug/netcoreapp2.2
/services/obj
/v1/bin/Debug/netcoreapp2.2
/v1/obj
